div(class='page')
  h1= title
  p Welcome to #{title}

  a(href='#', class='foo') hello

  br

  form(class='searchForm')
    input(type='text')
    button(type='submit', value='search')
    
  p(class="result")