
script(src='/javascripts/user-client.js')

div(class='page')
  h1= title
  p Welcome to #{title}
  p.username
    #{username}

  a(href='#', class='foo') hello
  
  p(class="wait")
    Please wait while we grab your information.

  form
    span
      span Artist: 
        input(type='text', class='artist', name='artist')
      span Track: 
        input(type='text', class='track', name='track')
    a(class='find', href='#') find

  p(class="result")
