
script(src='/javascripts/user-client.js')

div(class='page')
  h1= title
  p Welcome to #{title}

  a(href='#', class='foo') hello
  
  p(class="wait")
    Please wait while we grab your information.
  
  p(class="result")
